body,html{
  margin:0;
  padding: 0;
  background-color: black;
  color: white ;
}
.App{
  text-align: center;
  margin: 20px 160px;
}
table {
  width:100%;
}
th,td{
  text-align: left;
  padding: 14px 8px;
  border-bottom: 1px solid #ddd;
}
th{

}

.asset-logo{
  width: 40px;
  height:40px;
}
