
body, html {
  margin: 0;
  padding: 0;
  font-family: "Golos Text",sans-serif!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #fff;
}

.positive {
  color: #4fbf67;
}

.negative {
  color: #ff5c5c;
}